@model coreMovieTicketAdminPortal.Models.Multiplex
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2><b>Multiplex Details</b></h2>
<br />

@*@Html.DisplayNameFor(model => model.MultiplexId);
    @Html.DisplayFor(model => model.MultiplexId);
    <br />

    @Html.DisplayNameFor(model => model.MultiplexName);
    @Html.DisplayFor(model => model.MultiplexName);
    <br />

    @Html.DisplayNameFor(model => model.MultiplexDescription);
    @Html.DisplayFor(model => model.MultiplexDescription);
    <br />*@
<div class="col-md-12">
    <div class="card";">
        <ul class="list-group list-group-flush">

            <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.MultiplexName)</b>: @Html.DisplayFor(model => model.MultiplexName)</li>
            <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.MultiplexDescription)</b>: @Html.DisplayFor(model => model.MultiplexDescription)</li>

        </ul>
    </div>
    </div>
    <br />

    <div class="col-md-12">
        <a asp-controller="Multiplex" asp-action="Index" class="btn btn-primary">Back To List</a>
        </div>
