@model IEnumerable<coreMovieTicketAdminPortal.Models.Auditorium>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2><b>Index</b></h2>
<p>
    <a asp-controller="Auditorium" asp-action="Create" class="btn btn-primary">Create New Auditorium</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditoriumId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditoriumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditoriumDescription)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.AuditoriumId)
            </td>
            <td>
                @Html.DisplayFor(model => item.AuditoriumName)
            </td>
            <td>
                @Html.DisplayFor(model => item.AuditoriumDescription)
            </td>
            <td>
                <a asp-controller="Auditorium" asp-action="Details" asp-route-id="@item.AuditoriumId" class="btn btn-info">Details</a>
                <a asp-controller="Auditorium" asp-action="Edit" asp-route-id="@item.AuditoriumId" class="btn btn-success">Edit</a>
                <a asp-controller="Auditorium" asp-action="Delete" asp-route-id="@item.AuditoriumId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>