
@model IEnumerable<coreMovieTicketAdminPortal.Models.MovieDetail>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2><b>Index</b></h2>
<p>
    <a asp-controller="MovieDetail" asp-action="Create" class="btn btn-primary">Create New Movie Detail</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieDetailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(model => item.MovieDetailId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Casting)
            </td>
            <td>
                @Html.DisplayFor(model => item.Director)
            </td>

            <td>
                <a asp-controller="MovieDetail" asp-action="Details" asp-route-id="@item.MovieDetailId" class="btn btn-info">Details</a>
                <a asp-controller="MovieDetail" asp-action="Edit" asp-route-id="@item.MovieDetailId" class="btn btn-success">Edit</a>
               
            </td>
        </tr>
        }
    </tbody>
</table>